.box1{
    background-color: black;
    padding:20px;
    width:300px;
}

.background {
    height: 700px;
    width: 1200px;
    position: relative; 
    background-image: url('../assets/Bakes/img-locations-background.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    opacity: 1;
}

.text{
    font-size: 50px;
    padding:50px;
}