

.box1{
    background-color: black;
    padding:20px;
    width:300px;
}

.background {
    height: 700px;
    width: 1200px;
    position: relative; 
    background-image: url('../assets/Bakes/img-locations-background.jpg'); 
    background-size: cover; 
    background-position: center; 
}

.boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

.text{
    font-size: 50px;
    padding:50px;
}

@media screen and (min-width:800px) and (max-width:1199px){
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
        margin-top: 10px;
    }

    .background {
        height: 100%;
        padding:10px;
        width: 100%;
        position: relative; 
        background-image: url('../assets/Bakes/img-locations-background.jpg'); 
        background-size: cover; 
        background-position: center; 
    }
}

@media screen and (max-width:799px){
    .boxes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 1;
        margin-top: 10px;
    }

    .background {
        height: 100%;
        padding:10px;
        width: 100%;
        position: relative; 
        background-image: url('../assets/Bakes/img-locations-background.jpg'); 
        background-size: cover; 
        background-position: center; 
    }
}