.text {
    background-color: rgba(0, 0, 0); 
    color: white;
    text-align: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width:1200px;
}

.background {
    height: 700px;
    width: 1200px;
    position: relative; 
    background-image: url('../assets/Bakes/background.jpg'); 
    background-size: cover; 
    background-position: center; 
}