.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 100%; 
    background-color: black;
    text-decoration: underline;
    border-bottom: 1px solid seashell;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: lightblue;
}

.logo {
    float: left;
    height: 50px;
    margin-left: 10px;
}

.ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}