.background{
    width:1000px;
    background-color: rgb(255, 0, 0);
    color:seashell;
}

.teaItem{
    background-color: rgb(0, 0, 0);
    color:seashell;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    gap:20px;
}

img{
    height:200px;
    width:300px;
}

.text{
    background-color: rgb(0, 0, 0);
    color:seashell;
}