.background{
    width:1000px;
    color:seashell;
}

.teaItem{
    background-color: rgb(0, 0, 0);
    color:seashell;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    gap:20px;
}

.teaItem2{
    background-color: rgb(0, 0, 0);
    color:seashell;
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap:20px;
}

img{
    height:200px;
    width:300px;
}

.text{
    background-color: rgb(0, 0, 0);
    color:seashell;
}

@media screen and (min-width:800px) and (max-width:1199px){
    .background{
        width:100%;
        color:seashell;
    }
    
    .teaItem{
        background-color: rgb(0, 0, 0);
        color:seashell;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        gap:20px;
    }
    
    .teaItem2{
        background-color: rgb(0, 0, 0);
        color:seashell;
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap:20px;
    }
    
    img{
        height:200px;
        width:300px;
    }
    
    .text{
        background-color: rgb(0, 0, 0);
        color:seashell;
        margin-top: 100px;
    }
}

@media screen and (max-width:799px){
    .background{
        width:100%;
        color:seashell;
    }
    
    .teaItem{
        background-color: rgb(0, 0, 0);
        color:seashell;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 20px;
        gap:20px;
    }
    
    .teaItem2{
        background-color: rgb(0, 0, 0);
        color:seashell;
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap:20px;
    }
    
    img{
        height:200px;
        width:300px;
    }
    
    .text{
        background-color: rgb(0, 0, 0);
        color:seashell;
        margin-top: 100px;
    }
}